@using Booking.Web.Models.Hotels
@model HotelFloorRoomsViewModel
@{
    ViewData["Title"] = "Floor " + Model.Floor;
}

<h3><a asp-controller="Hotels" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a> - Floor @Model.Floor - Rooms</h3>

<div class="container">
    <div class="row">
        @foreach (var room in Model.Rooms)
        {
            <div class="door">
                
                <a asp-controller="Rooms" asp-action="Details" asp-route-id="@room.Id">
                    <img alt="door img" src="~/images/door.png">
                    <div class="caption">
                        <h5>@room.Name</h5>
                    </div>
                </a>
            </div>
        }
        </div>
</div>