@using Booking.Web.Models.Rooms
@model RoomDetailsViewModel

@{
    ViewData["Title"] = @Model.Room.Name + " Room";
}

<h3>
    <a asp-controller="Hotels" asp-action="Details" asp-route-id="@Model.Hotel.Id">@Model.Hotel.Name</a> - 
    <a asp-controller="Hotels" asp-action="Floor" asp-route-id="@Model.Hotel.Id" asp-route-floorNumber="@Model.Room.Floor"> @Model.Room.Floor Floor</a> -
        Room @Model.Room.Name
</h3>

<calendar month="@Model.Month" year="@Model.Year" periods="@Model.Periods" reservations="@Model.Reservations"/>