@model IEnumerable<Booking.Web.Models.Reservations.ReservationDetailsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => reservation.User.FirstName) @Html.DisplayFor(modelItem => reservation.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => reservation.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => reservation.Price)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                <br />
            </th>
            <th class="text-center">Total</th>
            <th class="text-right">@(Model.Sum(r => r.Price))</th>
        </tr>
    </tfoot>
</table>
